@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Ubuntu', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Ubuntu', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Open Sans Condensed', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-author-desc {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Open Sans Condensed', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Open Sans Condensed', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #cccccc !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #28324e !important;
}
.btn-primary {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #28324e;
  border-color: #28324e;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #0e121b;
  border-color: #0e121b;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #0e121b !important;
  border-color: #0e121b !important;
}
.btn-primary-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #05070b;
  color: #05070b;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #28324e;
  border-color: #28324e;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #28324e !important;
  border-color: #28324e !important;
}
.text-primary {
  color: #cccccc !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #28324e !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #28324e;
}
.btn-social {
  border-color: #cccccc;
}
.btn-social:hover {
  background: #cccccc;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #cccccc;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #cccccc;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #cccccc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #cccccc;
}
.lead a,
.lead a:hover {
  color: #cccccc;
}
.lead blockquote {
  border-color: #cccccc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #94a1c8;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #cccccc;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#header1-3 .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
#header1-3 .mbr-section-lead P {
  color: #ffffff;
}
#header1-3 .mbr-section-title SPAN {
  text-align: left;
  font-size: 46px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}
#header1-3 .mbr-section-lead I {
  font-size: 15px;
}
#menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#menu-o .navbar-caption {
  color: #ffffff;
}
#menu-o .navbar-toggler {
  color: #7c706b;
}
#menu-o .close-icon::before,
#menu-o .close-icon::after {
  background-color: #7c706b;
}
#menu-o .link,
#menu-o .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-o .link {
  font-size: 0.65rem;
}
#menu-o .dropdown-item,
#menu-o .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-o .link:hover,
#menu-o .dropdown-item:hover,
#menu-o .link:focus,
#menu-o .dropdown-item:focus {
  color: #cccccc;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-menu {
  background: #e6e6e6;
}
#menu-o .nav-dropdown-sm .link:focus,
#menu-o .nav-dropdown-sm .link:hover,
#menu-o .nav-dropdown-sm .dropdown-item:focus,
#menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-o .navbar,
#menu-o .nav-dropdown-sm,
#menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#menu-o .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-o .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-o .bg-color.transparent.opened .link:hover,
#menu-o .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-o .link[aria-expanded="true"],
#menu-o .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#header3-x .mbr-section-title,
#header3-x .mbr-section-subtitle {
  text-align: center;
}
#header3-x H3 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: right;
  color: #7c706b;
}
#content1-y P {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #7c706b;
}
#content1-y DIV {
  color: #a38f84;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}










#menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2w .navbar-caption {
  color: #ffffff;
}
#menu-2w .navbar-toggler {
  color: #7c706b;
}
#menu-2w .close-icon::before,
#menu-2w .close-icon::after {
  background-color: #7c706b;
}
#menu-2w .link,
#menu-2w .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-2w .link {
  font-size: 0.65rem;
}
#menu-2w .dropdown-item,
#menu-2w .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2w .link:hover,
#menu-2w .dropdown-item:hover,
#menu-2w .link:focus,
#menu-2w .dropdown-item:focus {
  color: #cccccc;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-menu {
  background: #e6e6e6;
}
#menu-2w .nav-dropdown-sm .link:focus,
#menu-2w .nav-dropdown-sm .link:hover,
#menu-2w .nav-dropdown-sm .dropdown-item:focus,
#menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2w .navbar,
#menu-2w .nav-dropdown-sm,
#menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2w .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2w .bg-color.transparent.opened .link:hover,
#menu-2w .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#msg-box8-1b .mbr-section-title,
#msg-box8-1b p {
  color: #fff;
}
#msg-box8-1b .mbr-section-title {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
#msg-box5-2k H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: left;
}
#msg-box5-2k P {
  color: #a38f84;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
#msg-box1-2m H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
}
#content1-2l DIV {
  color: #a38f84;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
#content1-2l P {
  font-size: 14px;
}
#features3-1e H4 {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  text-align: left;
}
#features3-1e H5 {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
}
#features3-1e P {
  color: #a38f84;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
#contacts1-24 P {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#contacts1-24 STRONG {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}


























#msg-box8-1g .mbr-section-title,
#msg-box8-1g p {
  color: #fff;
}
#msg-box8-1g .mbr-section-title {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}
#msg-box3-2j .mbr-section-title,
#msg-box3-2j p {
  color: #000;
}
#msg-box3-2j .lead P {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
#menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1h .navbar-caption {
  color: #ffffff;
}
#menu-1h .navbar-toggler {
  color: #7c706b;
}
#menu-1h .close-icon::before,
#menu-1h .close-icon::after {
  background-color: #7c706b;
}
#menu-1h .link,
#menu-1h .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-1h .link {
  font-size: 0.65rem;
}
#menu-1h .dropdown-item,
#menu-1h .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-1h .link:hover,
#menu-1h .dropdown-item:hover,
#menu-1h .link:focus,
#menu-1h .dropdown-item:focus {
  color: #cccccc;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-menu {
  background: #e6e6e6;
}
#menu-1h .nav-dropdown-sm .link:focus,
#menu-1h .nav-dropdown-sm .link:hover,
#menu-1h .nav-dropdown-sm .dropdown-item:focus,
#menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-1h .navbar,
#menu-1h .nav-dropdown-sm,
#menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-1h .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1h .bg-color.transparent.opened .link:hover,
#menu-1h .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-1h .link[aria-expanded="true"],
#menu-1h .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#header3-1o .mbr-section-title,
#header3-1o .mbr-section-subtitle {
  text-align: center;
}
#header3-1o SMALL {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header3-1o H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#features3-1q H4 {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  text-align: left;
}
#features3-1q H5 {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
}
#features3-1q P {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
}
#content1-3e P {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#header3-1p .mbr-section-title,
#header3-1p .mbr-section-subtitle {
  text-align: center;
}
#header3-1p SMALL {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header3-1p H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#features3-1k H4 {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  text-align: left;
}
#features3-1k H5 {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
}
#features3-1k P {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
}
#content1-3f P {
  color: #7c706b;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
#content1-3f DIV {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#header3-3a .mbr-section-title,
#header3-3a .mbr-section-subtitle {
  text-align: center;
}
#header3-3a SMALL {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header3-3a H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#features3-3b H4 {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 17px;
  text-align: left;
}
#features3-3b H5 {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
}
#features3-3b P {
  color: #7c706b;
  font-size: 12px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
#header3-1x .mbr-section-title,
#header3-1x .mbr-section-subtitle {
  text-align: center;
}
#header3-1x SMALL {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header3-1x H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#content1-3g P {
  color: #7c706b;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
#content1-3g DIV {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
#header3-2n .mbr-section-title,
#header3-2n .mbr-section-subtitle {
  text-align: center;
}
#header3-2n SMALL {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header3-2n H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#header3-3c .mbr-section-title,
#header3-3c .mbr-section-subtitle {
  text-align: center;
}
#header3-3c SMALL {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header3-3c H3 {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
#contacts1-24 P {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#contacts1-24 STRONG {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}



#gallery3-2g LI {
  color: #000000;
}
#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
}
#menu-28 .navbar-toggler {
  color: #7c706b;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #7c706b;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-28 .link {
  font-size: 0.65rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #cccccc;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #e6e6e6;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-28 .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#gallery1-2f LI {
  font-size: 15px;
}
#contacts1-29 P {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#contacts1-29 STRONG {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}



#menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2w .navbar-caption {
  color: #ffffff;
}
#menu-2w .navbar-toggler {
  color: #7c706b;
}
#menu-2w .close-icon::before,
#menu-2w .close-icon::after {
  background-color: #7c706b;
}
#menu-2w .link,
#menu-2w .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-2w .link {
  font-size: 0.65rem;
}
#menu-2w .dropdown-item,
#menu-2w .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2w .link:hover,
#menu-2w .dropdown-item:hover,
#menu-2w .link:focus,
#menu-2w .dropdown-item:focus {
  color: #cccccc;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-menu {
  background: #e6e6e6;
}
#menu-2w .nav-dropdown-sm .link:focus,
#menu-2w .nav-dropdown-sm .link:hover,
#menu-2w .nav-dropdown-sm .dropdown-item:focus,
#menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2w .navbar,
#menu-2w .nav-dropdown-sm,
#menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2w .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2w .bg-color.transparent.opened .link:hover,
#menu-2w .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#contacts1-2b P {
  color: #7c706b;
  font-size: 13px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#contacts1-2b STRONG {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
}

#menu-2r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2r .navbar-caption {
  color: #ffffff;
}
#menu-2r .navbar-toggler {
  color: #7c706b;
}
#menu-2r .close-icon::before,
#menu-2r .close-icon::after {
  background-color: #7c706b;
}
#menu-2r .link,
#menu-2r .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-2r .link {
  font-size: 0.65rem;
}
#menu-2r .dropdown-item,
#menu-2r .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2r .link:hover,
#menu-2r .dropdown-item:hover,
#menu-2r .link:focus,
#menu-2r .dropdown-item:focus {
  color: #cccccc;
}
#menu-2r .link[aria-expanded="true"],
#menu-2r .dropdown-menu {
  background: #e6e6e6;
}
#menu-2r .nav-dropdown-sm .link:focus,
#menu-2r .nav-dropdown-sm .link:hover,
#menu-2r .nav-dropdown-sm .dropdown-item:focus,
#menu-2r .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2r .navbar,
#menu-2r .nav-dropdown-sm,
#menu-2r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2r .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2r .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-2r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2r .bg-color.transparent.opened .link:hover,
#menu-2r .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-2r .link[aria-expanded="true"],
#menu-2r .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}




#menu-2u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2u .navbar-caption {
  color: #ffffff;
}
#menu-2u .navbar-toggler {
  color: #7c706b;
}
#menu-2u .close-icon::before,
#menu-2u .close-icon::after {
  background-color: #7c706b;
}
#menu-2u .link,
#menu-2u .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-2u .link {
  font-size: 0.65rem;
}
#menu-2u .dropdown-item,
#menu-2u .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2u .link:hover,
#menu-2u .dropdown-item:hover,
#menu-2u .link:focus,
#menu-2u .dropdown-item:focus {
  color: #cccccc;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-menu {
  background: #e6e6e6;
}
#menu-2u .nav-dropdown-sm .link:focus,
#menu-2u .nav-dropdown-sm .link:hover,
#menu-2u .nav-dropdown-sm .dropdown-item:focus,
#menu-2u .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2u .navbar,
#menu-2u .nav-dropdown-sm,
#menu-2u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2u .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2u .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-2u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2u .bg-color.transparent.opened .link:hover,
#menu-2u .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-2u .link[aria-expanded="true"],
#menu-2u .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#msg-box5-2x H3 {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  text-align: left;
}
#msg-box5-2x SPAN {
  text-align: right;
}
#msg-box5-2x P {
  color: #a38f84;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
#content6-2z P {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}




#menu-2v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2v .navbar-caption {
  color: #ffffff;
}
#menu-2v .navbar-toggler {
  color: #7c706b;
}
#menu-2v .close-icon::before,
#menu-2v .close-icon::after {
  background-color: #7c706b;
}
#menu-2v .link,
#menu-2v .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-2v .link {
  font-size: 0.65rem;
}
#menu-2v .dropdown-item,
#menu-2v .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2v .link:hover,
#menu-2v .dropdown-item:hover,
#menu-2v .link:focus,
#menu-2v .dropdown-item:focus {
  color: #cccccc;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-menu {
  background: #e6e6e6;
}
#menu-2v .nav-dropdown-sm .link:focus,
#menu-2v .nav-dropdown-sm .link:hover,
#menu-2v .nav-dropdown-sm .dropdown-item:focus,
#menu-2v .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2v .navbar,
#menu-2v .nav-dropdown-sm,
#menu-2v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2v .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2v .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-2v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2v .bg-color.transparent.opened .link:hover,
#menu-2v .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-2v .link[aria-expanded="true"],
#menu-2v .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#msg-box5-38 H3 {
  color: #7c706b;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  text-align: left;
}
#msg-box5-38 SPAN {
  text-align: right;
}
#msg-box5-38 P {
  color: #a38f84;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}
#content6-32 P {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}




#menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2w .navbar-caption {
  color: #ffffff;
}
#menu-2w .navbar-toggler {
  color: #7c706b;
}
#menu-2w .close-icon::before,
#menu-2w .close-icon::after {
  background-color: #7c706b;
}
#menu-2w .link,
#menu-2w .dropdown-item {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
}
#menu-2w .link {
  font-size: 0.65rem;
}
#menu-2w .dropdown-item,
#menu-2w .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-2w .link:hover,
#menu-2w .dropdown-item:hover,
#menu-2w .link:focus,
#menu-2w .dropdown-item:focus {
  color: #cccccc;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-menu {
  background: #e6e6e6;
}
#menu-2w .nav-dropdown-sm .link:focus,
#menu-2w .nav-dropdown-sm .link:hover,
#menu-2w .nav-dropdown-sm .dropdown-item:focus,
#menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-2w .navbar,
#menu-2w .nav-dropdown-sm,
#menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-2w .bg-color.transparent .link {
  color: #7c706b;
  transition: none;
}
#menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2w .bg-color.transparent.opened .link:hover,
#menu-2w .bg-color.transparent.opened .link:focus {
  color: #cccccc;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-item[aria-expanded="true"] {
  color: #cccccc!important;
}
#msg-box5-39 H3 {
  color: #7c706b;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
}
#msg-box5-39 SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#content6-36 P {
  color: #7c706b;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
